/*Style.css created by Patrick Pistor (@yogert96 on Twitter)  */
* {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box
}
/* Extracted from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */
html {
	-ms-text-size-adjust:100%;
	-webkit-text-size-adjust:100%
}
body {
	margin:0
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary {
	display:block
}
audio,canvas,video {
	display:inline-block;
	vertical-align:baseline
}
audio:not([controls]) {
	display:none;
	height:0
}
[hidden],template{
	display:none
}
a {
	-webkit-tap-highlight-color:transparent;
	background-color:transparent
}
a:active,a:hover {
	outline:0
}
abbr[title] {
	border-bottom:1px dotted
}
b,strong {
	font-weight:bold
}
dfn {
	font-style:italic
}
mark {
	background:#ff0;
	color:#000
}
small {
	font-size:80%
}
sub,sup {
	font-size:75%;
	line-height:0;
	position:relative;
	vertical-align:baseline
}
sup {
	top:-0.5em
}
sub {
	bottom:-0.25em
}
img {
	border:0
}
svg:not(:root) {
	overflow:hidden
}
figure {
	margin:1em 40px
}
hr {
	-moz-box-sizing:content-box;box-sizing:content-box
}
code,kbd,pre,samp {
	font-family:monospace,monospace;
	font-size:1em
}
button,input,optgroup,select,textarea {
	color:inherit;
	font:inherit;
	margin:0
}
button {
	overflow:visible
}
button,select {
	text-transform:none
}
button,html input[type=button], input[type=reset],input[type=submit] {
	-webkit-appearance:button;
	cursor:pointer
}
button[disabled],html input[disabled] {
	cursor:default
}
button::-moz-focus-inner,input::-moz-focus-inner {
	border:0;padding:0
}
input[type=checkbox],input[type=radio] {
	padding:0
}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button {
	height:auto
}
input[type=search] {
	box-sizing:content-box;
	-webkit-appearance:textfield;
	-moz-box-sizing:content-box;
	-webkit-box-sizing:content-box
}
input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration {
	-webkit-appearance:none
}
fieldset {
	border:1px solid #c0c0c0;
	margin:0 2px;
	padding: 0.35em 0.625em 0.75em
}
legend {
	border:0;padding:0
}
pre,textarea {
	overflow:auto
}
optgroup {
	font-weight:bold
}
/* End extract from normalize.css */

/* Defaults */
html {}

body {
	font-family: 'Open Sans';
	font-weight: 200;
	background-color: #ecf0f1;
  word-wrap: normal;
}

/* GRID */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
  overflow-x:auto
}
.col {
	display: block;
	float:left;

}
.group:before,
.group:after {
	content:"";
	display:table;
}
.group:after {
	clear:both;
}
.group {
    zoom:1;
}
.col-1-1 {
	width: 100%;
}
.col-1-2 {
	width: 50%;
}
.col-1-3 {
	width: 33.3332%;
}
.col-2-3 {
	width: 66.6665%;
}
.col-1-4 {
	width: 26%;
}
.col-3-4 {
	width: 75%;
}
.col-1-5 {
	width: 20%;
}
.col-2-5 {
	width: 40%;
}
.col-3-5 {
	width: 60%;
}
.col-4-5 {
	width: 80%;
}
.col-w-g-s {
	width: 38.2716%;
}
.col-w-g-l {
	width: 61.7283%;
}
@media only screen and (max-width: 480px) {
	.col {
		margin: 1% 0 1% 0%;
	}
	.col-1-1, .col-1-2, .col-1-3, .col-2-3, .col-1-4, .col-3-4, .col-1-5, .col-2-5, .col-3-5, .col-4-5, .col-w-g-s, .col-w-g-l  {
		width: 100%;
	}
}

/* Navigation */

/* Sidebar */
.sidebar {
    width: 15%;
    height: 100vh;
}
.sidebar ul {
	margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: auto;
}
.sidebar li a {
    display: block;
    padding: 8px 0 8px 16px;
    text-decoration: none;
}

/* Colors */
.white, .white-hover:hover, .white-active {
	background-color: #ecf0f1;
	color: #2c3e50;
}
.silver, .silver-hover:hover, .silver-active {
	background-color: #bdc3c7;
	color: #2c3e50;
}
.green, .green-hover:hover, .green-active {
	background-color: #2ecc71;
	color: #2c3e50;
}
